@media only screen and (max-width: 768px) {
  body .aaboutcont,
  body .ax8 {
    width: 95%;
  }
  body .asubthrd p {
    font-size: var(
      --r2
    ); /* This is the a difference btw about en and about ar */
    display: inline-block;
    margin-top: var(--r1);
    margin-bottom: var(--r1);
    text-align: center; /* This is the a difference btw about en and about ar */
  }
  body .asubthrd {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  body .afirst p {
    font-size: var(--r105);
  }
  body .asnd ul {
    font-size: var(
      --r2
    ); /* This is the a difference btw about en and about ar */
  }
}
@media only screen and (max-width: 590px) {
  body .asubthrd p {
    font-size: var(--r2);
  }
  body .afirst p {
    font-size: var(--r2);
  }
  body .asnd ul {
    font-size: var(--r2);
  }
  body .athrd {
    width: 95%;
  }
}
@media only screen and (max-width: 455px) {
  body .asnd ul {
    display: block;
    max-width: 95%;
    margin: var(--r1) auto;
  }
  body .asnd li {
    width: 90%;
    text-align: justify;
  }
  body .asnd {
    display: block;
    text-align: center;
  }
  body .asnd img {
    max-width: 90%;
  }
}
.aaboutcont {
  direction: rtl;
  width: 95%;
  margin: auto;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
  color: white;
  overflow: hidden;
}
.ax8 {
  width: 80%;
}
.afirst {
  max-width: 95%;
  margin: auto;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
}
.afirst h1 {
  font-family: "El Messiri", sans-serif;
  text-shadow: calc(var(--r05) * 0.6) calc(var(--r05) * 0.6)
    calc(var(--r05) * 0.5) black;
  display: block;
  margin: auto;
  text-align: center;
  font-size: var(--r3);
  color: #ffbf0f;
}
.afirst p {
  font-size: var(--r105);
  font-family: "Noto Sans", serif;
  text-align: justify;
  text-align-last: center;
  text-transform: capitalize;
}
.asnd {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
}
.asnd ul {
  font-family: "Noto Sans", serif;
  max-width: 45%;
  display: inline-block;
  font-size: var(--r105);
  text-transform: capitalize;
  list-style-type: disc;
  margin: var(--r05);
}
.asnd li {
  margin-top: var(--r1);
}
.asnd img {
  display: inline-block;
  max-width: 40%;
  border-radius: 2%;
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
}
.athrd {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: var(--r1);
  margin-bottom: var(--r3);
}
.athrd h1 {
  font-family: "El Messiri", sans-serif;
  text-shadow: calc(var(--r05) * 0.5) calc(var(--r05) * 0.5)
    calc(var(--r05) * 0.5) black;
  display: block;
  margin: auto;
  text-align: center;
  font-size: var(--r3);
  color: #ffbf0f;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
}
.asubthrd {
  width: 100%;
  margin: auto;
  text-align: center; /* This is the a difference btw about en and about ar */
  margin-top: var(--r1);
  margin-bottom: var(--r2);
}
.asubthrd div {
  display: block;
  width: 100%;
  margin: auto;
}
.asubthrd p {
  text-align: right;
  font-size: var(--r2);
  font-family: "Noto Sans", serif;
  font-weight: bold;
  color: #ffbf0f;
  margin: var(--r1);
  display: inline;
  text-transform: capitalize;
  text-shadow: calc(var(--r05) * 0.2) calc(var(--r05) * 0.2) black;
}
