@media only screen and (max-width: 768px) {
  body .form {
    width: 92%;
  }
  body .form p {
    font-size: var(--r105);
  }
}
@media only screen and (max-width: 590px) {
  body .form input:not([type="submit"]) {
    width: 90%;
    font-size: var(--r105);
  }
  body .form textarea {
    font-size: var(--r105);
    width: 90%;
  }
  body .form input[type="submit"] {
    font-size: var(--r105);
  }
}
@media only screen and (max-width: 410px) {
  body .form input:not([type="submit"]) {
    font-size: var(--r2);
    margin-top: 2%;
  }
  body .form textarea {
    font-size: var(--r2);
    height: calc(var(--r5) * 2);
  }
}
#container {
  display: block;
  width: 100%;
}
.form {
  width: 80%;
  background-color: #c99f4b;
  text-align: center;
  overflow: hidden;
  border-radius: var(--r1);
  border: 3px solid black;
  margin:var(--r2) auto;
  padding: var(--r2);
  padding-left: 0;
  font-family: "Noto Sans", sans-serif;
}
.form p {
  font-size: calc(var(--r1) * 1.2);
  max-width: 80%;
  display: block;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
}
.form img {
  width: calc(var(--r5) * 1.5);
  height: calc(var(--r5) * 1.5);
  text-align: left;
}
.form input:not([type="submit"]) {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 1%;
  background-color: rgb(240, 234, 186);
  color: black;
  height: max-content;
  font-size: calc(var(--r1) * 1.2);
  border: 1px solid grey;
  padding: 1%;
}
.form input[type="submit"] {
  all: unset;
  border: 1px solid black;
  border-radius: 3px;
  margin: auto;
  margin-top: 1%;
  display: block;
  padding: var(--r05);
  width: max-content;
  background-color: rgb(240, 234, 186);
  color: black;
  font-size: calc(var(--r1) * 1.2);
}
.form textarea {
  height: var(--r5);
  display: block;
  padding: 1%;
  width: 80%;
  margin: auto;
  margin-top: 3%;
  background-color: rgb(240, 234, 186);
  color: black;
  font-size: calc(var(--r1) * 1.25);
}
