@media only screen and (max-width: 768px) {
  body .telts {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: var(--r1);
    margin-bottom: var(--r1);
  }
  body .telts h1 {
    font-size: var(--r3);
  }
  body .telts p {
    font-size: var(--r105);
  }
  body .serv {
    display: block;
  }
}
@media only screen and (max-width: 590px) {
  body .telts h1 {
    font-size: var(--r3);
  }
  body .telts p {
    font-size: var(--r2);
  }
}
.servcont {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: var(--r1);
  margin-bottom: var(--r2);
  overflow: hidden;
}
.servcont * {
  overflow: hidden;
}
.servcont h1 {
  font-size: var(--r3);
  color: var(--black2);
  display: block;
  margin: auto;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
  font-family: "El Messiri", sans-serif;
  color: white;
}
.serv {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.telts {
  width: 30%;
  height: max(calc(var(--r5) * 4), max-content);
  margin: var(--r05);
}
.telts div {
  background-color: rgba(255, 255, 255, 0.02);
}
.telts div > div {
  padding: var(--r05);
}
.telts h1 {
  font-family: "El Messiri", sans-serif;
  font-size: var(--r2);
  color: #ffbf0f;
  margin: var(--r05);
}
.telts p {
  font-size: calc(var(--r1) * 1.2);
  font-family: "Noto Sans", serif;
  text-transform: capitalize;
  text-align: left;
  color: white;
}
.telts img {
  width: 15%;
}
