@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marhey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@media only screen and (min-width: 2000px) {
  :root {
    --r05: 1rem;
    --r1: 2rem;
    --r105: 3rem;
    --r2: 4rem;
    --r3: 6rem;
    --r35: 7rem;
    --r4: 8rem;
    --r5: 6rem;
  }
}
@media only screen and (max-width: 1999px) {
  :root {
    --r05: 0.75rem;
    --r1: 1.5rem;
    --r105: 2.25rem;
    --r2: 3rem;
    --r3: 4.5rem;
    --r35: 5rem;
    --r4: 6rem;
    --r5: 7.5rem;
  }
}
@media only screen and (max-width: 1620px) {
  :root {
    --r05: 0.5rem;
    --r1: 1rem;
    --r105: 1.5rem;
    --r2: 2rem;
    --r3: 3rem;
    --r35: 3.5rem;
    --r4: 4rem;
    --r5: 5rem;
  }
}
@media only screen and (max-width: 1365px) {
  :root {
    --r05: 0.4rem;
    --r1: 0.8rem;
    --r105: 1.2rem;
    --r2: 1.6rem;
    --r3: 2.4rem;
    --r35: 2.8rem;
    --r4: 3.2rem;
    --r5: 4rem;
  }
}
@media only screen and (max-width: 807px) {
  :root {
    --r05: 0.4rem;
    --r1: 0.8rem;
    --r105: 1.2rem;
    --r2: 1.6rem;
    --r3: 2.4rem;
    --r35: 2.8rem;
    --r4: 3.2rem;
    --r5: 4rem;
  }
}
@media only screen and (max-width: 590px) {
  :root {
    --r05: 0.3rem;
    --r1: 0.65rem;
    --r105: 0.85rem;
    --r2: 1.2rem;
    --r3: 1.8rem;
    --r35: 2.1rem;
    --r4: 2.6rem;
    --r5: 3rem;
  }
}
:root {
  --black: rgb(26, 24, 24);
  --black2: rgb(48, 43, 43);
  --gold: rgb(219, 216, 28);
}
body {
  padding: 0;
  margin: 0;
  overflow: visible;
  background-image: url("/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
picture {
  display: contents;
}
