@media only screen and (max-width: 807px) {
}
@media only screen and (max-width: 650px) {
  body .map iframe {
    display: block;
    margin: auto;
    width: 98%;
    border-radius: 0;
  }
  body .map .xfc {
    display: block;
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  body .xcon {
    flex-direction: column;
  }
  body .portion {
    width: 95%;
  }
  body .xl {
    display: inline-block;
  }
  body .lgsf img {
    display: inline-block;
    margin: var(--r1);
  }
}
@media only screen and (max-width: 375px) {
  body .xcon {
    flex-direction: column;
  }
  body .portion {
    width: 100%;
  }
  body .xl {
    display: inline-block;
  }
  body .lgsf img {
    display: inline-block;
    margin: var(--r1);
  }
  body .ful {
    font-size: calc(var(--r1) * 1.15);
  }
}
.ff {
  background: #c99f4b;
  border-top: 1px solid black;
}
.xcon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #c99f4b;
  padding: var(--r1);
}
.portion {
  display: inline-block;
  width: 50%;
  color: white;
}
.ful {
  display: inline-block;
  overflow: hidden;
  margin: auto;
  z-index: 5000;
  font-size: calc(var(--r1) * 1.5);
  font-family: "El Messiri", sans-serif;
  color: black;
  text-indent: 0;
  padding: 0;
}
.xl {
  display: block;
  padding-left: var(--r05);
  padding-right: var(--r05);
  margin-left: var(--r05);
  margin-right: var(--r05);
}
.xl::before {
  content: "";
}
.ll {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.xl .ll:hover {
  color: var(--black2);
}
.imx {
  display: block;
  margin: 0;
  width: calc(var(--r5) * 1.2) !important;
  height: calc(var(--r5) * 1.2) !important;
}
.lgsf img {
  display: block;
  width: var(--r3);
  height: var(--r3);
  margin: auto;
  margin-top: var(--r1);
  margin-bottom: var(--r1);
}
.lgsf {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: auto;
  margin-right: var(--r3);
  border: 0;
}
.contact h1 {
  font-size: var(--r2);
  font-family: "El Messiri", sans-serif;
  text-indent: var(--r1);
}
.contact p {
  display: inline-block;
  font-size: var(--r1);
  color: white;
  text-decoration: none;
  font-family: "El Messiri", sans-serif;
  margin-left: var(--r1);
  margin-right: var(--r1);
}
.contact a {
  font-size: var(--r1);
  color: white;
  text-decoration: none;
}
.contact img {
  width: var(--r2);
  height: var(--r2);
  margin: var(--r05);
  display: inline;
  vertical-align: middle;
}
.map {
  width: 100%;
  display: block;
  margin: auto;
}
.map iframe {
  width: 45%;
  height: calc(var(--r5) * 7.5);
  display: inline-block;
  margin: auto;
  border: 2px solid white;
  border-radius: 5%;
}
.map .xfc {
  width: 50%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.xfc .form {
  background: transparent;
}
