@media only screen and (max-width: 807px) {
}
@media only screen and (max-width: 650px) {
  body .amap iframe {
    display: block;
    margin: auto;
    width: 98%;
    border-radius: 0;
  }
  body .amap .xfc {
    display: block;
    margin: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  body .axcon {
    flex-direction: column;
  }
  body .aportion {
    width: 95%;
  }
  body .axl {
    display: inline-block;
  }
  body .algsf img {
    display: inline-block;
    margin: var(--r1);
  }
}
@media only screen and (max-width: 375px) {
  body .axcon {
    flex-direction: column;
  }
  body .aportion {
    width: 100%;
  }
  body .axl {
    display: inline-block;
  }
  body .algsf img {
    display: inline-block;
    margin: var(--r1);
  }
  body .aful {
    font-size: calc(var(--r1) * 1.15);
  }
}
.aff {
  background: #c99f4b;
  border-top: 1px solid black;
}
.axcon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #c99f4b;
  padding: var(--r1);
}
.aportion {
  display: inline-block;
  width: 50%;
  color: white;
}
.aful {
  display: inline-block;
  overflow: hidden;
  margin: auto;
  z-index: 5000;
  font-size: calc(var(--r1) * 1.5);
  font-family: "El Messiri", sans-serif;
  color: black;
  text-indent: 0;
  padding: 0;
}
.axl {
  display: block;
  padding-left: var(--r05);
  padding-right: var(--r05);
  margin-left: var(--r05);
  margin-right: var(--r05);
}
.axl::before {
  content: "";
}
.all {
  display: inline-block;
  text-decoration: none;
  color: white;
}
.axl .all:hover {
  color: var(--black2);
}
.aimx {
  display: block;
  margin: 0;
  width: calc(var(--r5) * 1.2) !important;
  height: calc(var(--r5) * 1.2) !important;
}
.algsf img {
  display: block;
  width: var(--r3);
  height: var(--r3);
  margin: auto;
  margin-top: var(--r1);
  margin-bottom: var(--r1);
}
.algsf {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: auto;
  margin-right: var(--r3);
  border: 0;
}
.acontact h1 {
  font-size: var(--r2);
  font-family: "El Messiri", sans-serif;
  text-indent: var(--r1);
}
.acontact p {
  display: inline-block;
  font-size: var(--r1);
  color: white;
  text-decoration: none;
  font-family: "El Messiri", sans-serif;
  margin-left: var(--r1);
  margin-right: var(--r1);
}
.acontact a {
  font-size: var(--r1);
  color: white;
  text-decoration: none;
}
.acontact img {
  width: var(--r2);
  height: var(--r2);
  margin: var(--r05);
  display: inline;
  vertical-align: middle;
}
.amap {
  width: 100%;
  display: block;
  margin: auto;
}
.amap iframe {
  width: 45%;
  height: calc(var(--r5) * 7.5);
  display: inline-block;
  margin: auto;
  border: 2px solid white;
  border-radius: 5%;
}
.amap .xfc {
  width: 50%;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.axfc .form {
  background: transparent;
}
