@media only screen and (max-width: 807px) {
}
@media only screen and (max-width: 650px) {
}
@media only screen and (max-width: 450px) {
  body .right p::before {
    content: "\00000a";
    white-space: pre;
  }
  body .right p::after {
    content: "\00000a";
    white-space: pre;
  }
}
.prf {
  align-items: flex-start;
  justify-content: space-evenly;
  border: 2px dashed #ffbf0f;
  width: 80%;
  margin: auto;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
  padding: var(--r05);
  color: white;
}
.left {
  width: 100%;
}
.left p {
  font-family: "El Messiri", sans-serif;
  font-weight: bold;
  font-size: calc(var(--r1) * 1.2);
  text-transform: capitalize;
  text-align: center;
}
.left h1 {
  font-size: var(--r3);
  color: #ffbf0f;
  text-align: center;
  margin-top: var(--r1);
  margin-bottom: var(--r2);
  font-family: "El Messiri", sans-serif;
  font-style: italic;
  font-weight: 600;
}
.right {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
.right h1 {
  font-size: var(--r3);
  color: #ffbf0f;
  text-align: center;
  margin-top: var(--r1);
  margin-bottom: var(--r1);
  font-family: "El Messiri", sans-serif;
  font-style: italic;
  font-weight: 600;
}
.right span {
  border-radius: 5%;
  font-family: "El Messiri", sans-serif;
  background: #ffbf0f;
  padding: var(--r1);
  display: inline-block;
  font-size: var(--r2);
  cursor: pointer;
  margin-left: var(--r1);
  margin-right: var(--r1);
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}
.right span:hover {
  background: gold;
}
.right p {
  display: inline;
  font-family: cursive;
  font-size: calc(var(--r1) * 1.2);
  text-transform: capitalize;
  text-align: center;
}
